---
http_interactions:
- request:
    method: post
    uri: https://app.userengage.com/api/public/users/
    body:
      encoding: UTF-8
      string: '{"email":"specs@company-mood.com","gender":2}'
    headers:
      Authorization:
      - Token <my-test-token>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":129715553,"key":"j3WiRFnxpPqP","name":"specs@company-mood.com","email":"specs@company-mood.com","gender":"male","status":"visitor","phone_number":null,"first_seen":null,"last_seen":null,"page_views":0,"last_ip":null,"timezone":null,"city":null,"region":null,"country":null,"unsubscribed":false,"browser_language":null,"score":0,"browser":null,"os_type":null,"resolution":null,"created_at":"2018-10-29T20:00:32.471199Z","updated_at":"2018-10-29T20:00:32.471220Z","companies":[],"attributes":[],"gravatar_url":null,"lists":[],"tags":[],"notifications":true,"facebook_url":null,"linkedin_url":null,"twitter_url":null,"google_url":null,"last_contacted":null,"user_id":null}'
  recorded_at: Mon, 29 Oct 2018 20:00:32 GMT
recorded_with: VCR 4.0.0
