---
http_interactions:
- request:
    method: get
    uri: https://app.userengage.com/api/public/users/search/?email=markus@company-mood.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <my-test-token>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"id":2913134,"key":"KSnAlOuWa","name":"Markus Schwed","email":"markus@company-mood.com","gender":"unknown","status":"user","phone_number":null,"first_seen":"2018-01-25T13:34:31.978138Z","last_seen":"2018-02-02T18:02:22.051644Z","page_views":49,"last_ip":"91.62.63.111","timezone":"Europe/Berlin","city":null,"region":null,"country":"Germany","unsubscribed":false,"browser_language":"en","score":0,"browser":"Firefox","os_type":"Mac
        OS X","resolution":"1920x1080","created_at":"2018-01-25T13:34:31.987595Z","updated_at":"2018-02-02T18:02:22.087045Z","attributes":[{"name_std":"created_at","name":"created_at","value":"2015-03-13
        11:45:35","id":286104,"description":"When has that user been created? (Self
        or invited)"},{"name_std":"company_admin","name":"company_admin","value":"True","id":286120,"description":""}],"gravatar_url":null,"lists":[],"tags":[],"notifications":true,"facebook_url":null,"linkedin_url":null,"twitter_url":null,"google_url":null,"chat_id":"Chat
        ID is deprecated and will be removed in future","last_contacted":"2018-01-29T12:51:45.079079Z","user_id":"26477314-a2e7-480f-438a-4de724267d21"}'
  recorded_at: Fri, 02 Feb 2018 22:24:33 GMT
recorded_with: VCR 4.0.0
