---
http_interactions:
- request:
    method: post
    uri: https://app.userengage.com/api/public/users/
    body:
      encoding: UTF-8
      string: '{"email":"specs@company-mood.com","gender":"invalid"}'
    headers:
      Authorization:
      - Token <my-test-token>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"errors":{"gender":["\"invalid\" is not a valid choice."]}}'
  recorded_at: Mon, 29 Oct 2018 20:07:31 GMT
recorded_with: VCR 4.0.0
